@bodyBg100: rgba(222, 222, 222, 1);
@bodyBg0: rgba(222, 222, 222, 0);
@bannerBg: #000;
@bannerCaptionBg75: rgba(0, 0, 0, 0.75);
@bannerCaptionBg0: rgba(0, 0, 0, 0);
@contentBg: #fff;

.opacity (@opacity)
{
    zoom: 1;
    filter: alpha(opacity=@opacity);
    opacity: (@opacity / 100);
}

.linearGradient (@angle, @colorA, @colorB)
{
    background-image: linear-gradient(@angle, @colorA, @colorB);
    background-image: -moz-linear-gradient(@angle, @colorA, @colorB);
    background-image: -ms-linear-gradient(@angle, @colorA, @colorB);
    background-image: -o-linear-gradient(@angle, @colorA, @colorB);
    background-image: -webkit-linear-gradient(@angle, @colorA, @colorB);
}

body
{
    .linearGradient(top, @bodyBg0 80%, @bodyBg100 100%);

    & > footer
    {
        padding: 20px 30px;
    }
}

.banner
{
    position: relative;
    background: @bannerBg;
    margin: 41px 0 0;
}

#body
{
    padding: 40px 0 100px;
}

.carousel
{
    margin-bottom: 0;

    .item > img
    {
        margin: 0 auto;
    }

    .item > .container
    {
        position: relative;
        margin: 0 auto;
        width: 1170px;
    }
}

.carousel-caption
{
    background: transparent;
    bottom: 250px;

    & > h1
    {
        font-size: 60px;
        line-height: 66px;
        color: #fff;
        font-weight: normal;
    }

    & > p
    {
    }
}

.container.startpage
{
    text-align: center;

    & > h1
    {
        font-size: 46px;
        font-weight: normal;
        line-height: 50px;
        margin-bottom: 10px;
    }

    & > p
    {
        font-size: 20px;
        font-weight: normal;
        line-height: 26px;
        color: #999;
        margin-bottom: 40px;
    }

    h2
    {
        font-size: 28px;
        font-weight: normal;
    }
}

@media (max-width: 1199px)
{
    .carousel-caption
    {
        bottom: 190px;
    }

    .carousel .item > .container
    {
        width: 940px;
    }
}

@media (max-width: 979px)
{
    .nav a
    {
        padding: 10px 15px !important;
    }

    .banner
    {
        margin-top: -20px;
    }

    .container.startpage h2
    {
        font-size: 20px;
    }

    .carousel .item > .container
    {
        width: auto;
    }

    .carousel-caption
    {
        .linearGradient(left bottom, @bannerCaptionBg75 0, @bannerCaptionBg0 100%);
        bottom: 0;
    }
}

@media (max-width: 767px)
{
    .banner
    {
        margin: -20px -20px 0;
    }

    .carousel-caption
    {
        background: none @bannerCaptionBg75;
        position: static;

        & > h1
        {
            font-size: 28px;
            line-height: 30px;
        }
    }

    #body
    {
        padding: 40px 20px 100px;
    }

    #body,
    body > footer
    {
        margin: 0 -20px;
    }

    .container.startpage h2
    {
        font-size: 28px;
    }
}

@media (max-width: 479px)
{
}